{{#if msg}}
    <h1>{{msg}}</h1>
{{/if}}
{{#each data}}
<div class="card card-body">
    <h3>{{CourseName}}</h3>
    <p>{{Description}}</p>
    <p style="color:darkolivegreen">{{Reason}}</p>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <a href="/course/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
        </div>
        <div class="col-md-6 col-lg-6">
            <form action="/course/{{id}}?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger btn-block" value="Delete">
            </form>
        </div>
    </div>
</div>
{{else}}
<p>No Course Suggestion</p>
{{/each}}